<div class="card">
    <h5 class="card-header">Registra niños</h5>
    <div class="card-body">
        <form [formGroup]="FormularioChildren" (ngSubmit)="enviarDatos()">
            <div>
                <div class="mb-3">
                    <label for="exampleFormControlInput1" class="form-label">Documento</label>
                    <input type="number" class="form-control" value="" id="" formControlName="id" placeholder="">
                </div>
                <div class="mb-3">
                    <label for="exampleFormControlInput1" class="form-label">Nombre</label>
                    <input type="text" class="form-control" id="" formControlName="first_name" placeholder="">
                </div>
                <div class="mb-3">
                    <label for="exampleFormControlInput1" class="form-label">Apellido</label>
                    <input type="text" class="form-control" id="" formControlName="last_name" placeholder="">
                </div>
                <div class="mb-3">
                    <label for="exampleFormControlInput1" class="form-label">Fecha de nacimiento</label>
                    <input type="date" class="form-control" id="" formControlName="fn" placeholder="">
                </div>
                <div class="mb-3">
                    <label for="exampleFormControlInput1" class="form-label">Ciudad</label>
                    <input type="text" class="form-control" id="" formControlName="city" placeholder="">
                </div>
            </div>
            <div class="btn-group" role="group" aria-label="Basic mixed styles example">
                <button type="submit" class="btn btn-success">Guardar</button>
                <button type="button" class="btn btn-warning">Eliminar</button>
              </div>
        </form>
    </div>
</div>
